extends layout
//- ^--- export vers layout
//- v-- indique que tout ce qui se trouve en dessous sera exporter vers l'extends



block content

  .container 
    h1= title
    p Bienvenue sur  #{title}

    p On test aussi la syntaxe pug JS


    //-Voici comment ajouter un lien
    a(href='//google.com') Google
    |
    |
    a(class='button' href='//google.com') Google
    |
    |
    a(class='button', href='//google.com') Google
    |
    |
    .input Mon input checkBox
      input(
      type='checkbox'
      name='agreement'
      checked
      )

     


    //- Gestion des conditions en pug 
    - var user = {description: 'test condition'}
    - var authorised = false
    #user
    if user.description
      h2.green Description
      p.description= user.description
    else if authorised
      h2.blue Description
      p.description.
        User has no description,
        why not add one...
    else
      h2.red Description
      p.description User has no description
 
    //- Gestion des boucles : 
    ul Test boucle
      each val in [1, 2, 3, 4, 5]
        li= val  

    - var n = 0;
    ul test while
      while n < 5
        li= n++

    +test_mixin_while(5)
    +test_mixin_while(10)
    +test_mixin_while(2)


    +ajoutTitre('Test des mixin bloc')
      p Lorem ipsum dolor sit amet.

//- On peut faire des fonctions qui géneront du html
mixin test_mixin_while(nb) 
  - var n = 0 
  ul Voici mon ul-mixins
    while n < nb 
      li.test= n++
//- v-- Afficher le titre, si un bloc est défini ensuite on l'affiche sinon on affiche "pas de contenue"
mixin ajoutTitre (titre) 
  .blocTitre 
    h1= titre 
    if block  
      block 
    else 
      p Pas de contenue




block scripts

  //- v--- envoyer du script js 
  script(src='./javascripts/test1.js') 
  script(src='./javascripts/test2.js') 


  